{{template "Dashboard/header.html" .}}
<!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
           <h1> Default Bank </h1>
           <div class="p-3 mb-2 bg-danger text-white">{{.flash.error}}</div>
           <div class="form-group">
                <label class="control-label col-sm-2" for="email">Recipient Infomations</label>
                <div class="col-sm-10">
                  <p class="form-control-static"></p>
                </div>
            </div>
           <form id="login-form" action="/UpdateDefaultBank" method="post" role="form" style="display: block;">
           <div class="form-group">
                <div class="radio">
                        <label class="radio-inline"><input type="radio" name="optradio" id="optradio1" value="corporation">Corporation</label>
                        <label class="radio-inline"><input type="radio" name="optradio" id="optradio2" value="individual" checked>Individual</label>
                </div>
           </div>
           <div class="form-group">
                <label for="usr">Name:</label>
                <input type="text" class="form-control" id="name" name="name" value="{{.recipient.RecipientName}}">
            </div>
            <div class="form-group">
                <label for="pwd">Email:</label>
                <input type="text" class="form-control" id="email" name="email" value="{{.recipient.Email}}">
            </div>
            <div class="form-group">
                    <label for="pwd">TaxID:</label>
                    <input type="text" class="form-control" id="taxid" name="taxid" value="{{.recipient.TaxID}}">
                    <div>Not apply to merchants registered in Japan</div>
            </div>
            <div class="form-group">
                    <label for="pwd">Description:</label>
                    <input type="text" class="form-control" id="description" name="description" value="{{.recipient.Description}}">
            </div>
            <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Bank account Infomations</label>
                    <div class="col-sm-10">
                      <p class="form-control-static"></p>
                    </div>
            </div>
            <div class="form-group">
                    <label for="bankaccountbrand">Select list:</label>
                    <select class="form-control" id="bankaccountbrand" name="bankaccountbrand">
                        <option value="test">TEST - Test Bank</option>
                        <option value="bbl">BBL - Bangkok Bank</option>
                        <option value="kbank">KBANK - Kasikornbank</option>
                        <option value="rbs">RBS - Royal Bank of Scotland</option>
                        <option value="ktb">KTB - Krungthai Bank</option>
                        <option value="jpm">JPM - J.P. Morgan</option>
                        <option value="mufg">MUFG - Bank of Tokyo-Mitsubishi UFJ</option>
                        <option value="tmb">TMB - TMB Bank</option>
                        <option value="scb">SCB - Siam Commercial Bank</option>
                        <option value="citi">CITI - Citibank</option>
                        <option value="smbc">SMBC - Sumitomo Mitsui Banking Corporation</option>
                        <option value="sc">SC - Standard Chartered (Thai)</option>
                        <option value="cimb">CIMB - CIMB Thai Bank</option>
                        <option value="uob">UOB - United Overseas Bank (Thai)</option>
                        <option value="bay">BAY - Bank of Ayudhya (Krungsri)</option>
                        <option value="mega">MEGA - Mega International Commercial Bank</option>
                        <option value="boa">BOA - Bank of America</option>
                        <option value="cacib">CACIB - Crédit Agricole</option>
                        <option value="gsb">GSB - Government Savings Bank</option>
                        <option value="hsbc">HSBC - Hongkong and Shanghai Banking Corporation</option>
                        <option value="db">DB - Deutsche Bank</option>
                        <option value="ghb">GHB - Government Housing Bank</option>
                        <option value="baac">BAAC - Bank for Agriculture and Agricultural Cooperatives</option>
                        <option value="mb">MB - Mizuho Bank</option>
                        <option value="bnp">BNP - BNP Paribas</option>
                        <option value="tbank">TBANK - Thanachart Bank</option>
                        <option value="ibank">IBANK - Islamic Bank of Thailand</option>
                        <option value="tisco">TISCO - Tisco Bank</option>
                        <option value="kk">KK - Kiatnakin Bank</option>
                        <option value="icbc">ICBC - Industrial and Commercial Bank of China (Thai)</option>
                        <option value="tcrb">TCRB - Thai Credit Retail Bank</option>
                        <option value="lhb">LHB - Land and Houses Bank</option>
                    </select>
            </div>
            <script>
            $(function () {
                $('#bankaccountbrand option[value={{.recipient.BankAccountBrand}}]').attr('selected','selected');
                var RecipientType = "{{.recipient.RecipientType}}";
                if(RecipientType == "individual"){
                    $('#optradio2').attr('checked','checked');
                }else{
                    $('#optradio1').attr('checked','checked');
                }
            })
            </script>
            <div class="form-group">
                    <label for="usr">Name:</label>
                    <input type="text" class="form-control" id="bankaccountname" name="bankaccountname" value="{{.recipient.BankAccountName}}">
            </div>
            <div class="form-group">
                    <label for="usr">Number:</label>
                    <input type="text" class="form-control" id="bankaccountnumber" name="bankaccountnumber" value="{{.recipient.BankAccountNumber}}">
            </div>
            <input type="submit" class="btn btn-info" value="Save Button">
            </form>
        </div>
    </div>
</div>
{{template "footer.html" .}}